.wrapper {
  width: 100%;
  background-image: url('./404-page.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.wrapper img {
  opacity: 0;
  width: 100%;
  height: auto;
}

.title {
  position: absolute;
  right: 15%;
  top: 77%;
  font-weight: bold;
}
